## Importing Libraries

To use preexisting code, we must `import` it. Otherwise, the code is not visible to our program and we will get complaints about `undefined` variables.

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn

%matplotlib inline

In [2]:
# EXECUTE! BUT TO NOT MODIFY THIS CELL! Will explain this later

import os
from utils import merge_csv_chunks

input_folder = os.path.abspath("../datasets/global_food_prices")
output_file = os.path.abspath("../datasets/global_food_prices.csv")
merge_csv_chunks(input_folder, output_file)

To load the dataset into this jupyter notebook instance, we do the following:

In [3]:
# here, let's get the right dataset, ds is short for dataset
ds = os.path.abspath("../datasets/global_food_prices.csv")

# here, df is short for dataset
df = pd.read_csv(ds, dtype={"adm1_name": str})
# Note: we set dtype of the 3rd column because it contains different types of inputs (strings, numbers, etc...) change everything to a string.

In [4]:
df.head()

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
0,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,1,2014,50.0,NaN
1,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,2,2014,50.0,NaN
2,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,3,2014,50.0,NaN
3,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,4,2014,50.0,NaN
4,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,5,2014,50.0,NaN